* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Prompt', sans-serif;
    background-color: #1c2940;
}

/* view-port-main */
.vh-100
{
    height: 100vh;
}

/* Container-main*/
.umi-container {
    padding: 0px 38px;
}

.umi-container-full {
    max-width: 100%;
}

/* color-main */
.umi-special-blue-bg {
    background-color: #1c2940;
}
.umi-special-blue-c0 {
    background-color: #141b29;
}
.umi-special-blue-c1 {
    background-color: #263b5f;
}
.umi-special-blue-c2 {
    background-color: #3c4e6d;
}
.umi-special-blue-c3 {
    background-color: #4974ca;
}
.umi--sora {
    background-color: #4974ca;
}




/* font-color */
.f-shiro {
    color: white;
}
.f-haiiro {
    color: rgb(145, 145, 145) !important;
}
.f-sora {
    color: #4974ca;
}
.f-momo {
   color: pink;
}

.f-dark-blue {
    color: #141b29;
}



/* font-size-main  */
.fs-xsmall
{
    font-size: 3px;
}
.fs-small
{
    font-size: 8px;
}
.fs-medium
{
    font-size: 13px;
}
.fs-major
{
    font-size: 18px;
}

/* font-weight-main  */
.fw-bolder
{
    font-weight: bolder;
}
.fw-normal
{
    font-weight: 100;
}

/* text-aline-main */
.tx-center
{
    text-align: center;
}
/* Rows-main*/
.umi-rows
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.umi-rows-6
{
    display: flex;
    align-items: center;
    height: 586px;
}
.umi-rows a
{
    text-decoration: none;
}
.umi-rows li
{
    list-style: none;
}

/* Col-main*/
.umi-col
{
    
    width: 68.5vh;
}
.umi-col-1
{
   width: 80px;
}
.umi-col-2
{
   width: 160px;
}
.umi-col-3
{
    width: 240px;
}
.umi-col-4
{
    width: 320px;
}

/* Position-main */
.umi-fixed
{
    position: fixed;
}
.umi-relative
{
    position: relative;
}
/* Display-main */
.umi-display-block
{
    display: block;
}
.umi-display-flex
{
    display: flex;
}
.umi-display-inline-block
{
    display: inline-block;
}

/* justify-main*/
.umi-justify-center
{
    justify-content: center;
}
.umi-justify-between
{
    justify-content: space-between;
}
/* align-item-main */
.umi-item-start
{
    align-items: flex-start;
}

/* Button Active*/
.umi-active:hover {
    color:rgb(194, 194, 194);
}

/*Dropdown-main*/

.umi-dropdown {
    position: relative;
}

.umi-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 8px;
    margin: 0px 13px;
    border-radius: 2%;
    z-index: 1;
}
.umi-dropdown-link
{
    display: block;
}
.umi-dropdown:hover ~ .umi-dropdown-content {
    display: block;
}
.umi-dropdown-content:hover
{
    display: block;
}

/* Button-main*/
.btn
{
    cursor: pointer;
    padding: 6px 8px;
}
.btn-none
{
    background: none;
    border: none;
}
.umi-btn-shiro
{
    display:inline-block;
    background-color: white;
    color: #141b29;
    border: none;
    height: 38px;
}
.umi-btn-shiro:hover
{
    background-color: rgb(199, 199, 199);
}
.umi-btn-sora
{
    display:inline-block;
    background-color: #4974ca;
    color: white;
    border: none;
    height: 38px;
}
.umi-btn-sora:hover
{
    background-color:#38599b;
}
.umi-btn-outness-shiro 
{
    background: none;
    border: white 3px solid;
    margin: 0px ;
    border-radius: 12%;
}
.umi-btn-square
{
    border-radius:0% ;
}
/* Border-main */

.umi-border-shiro
{
    border:2px solid white  !important;
    padding: 6px 8px;
    margin: 0px ;
}
.umi-border-3
{
    border: 5px  solid;
}
.umi-border-0
{
    border: none !important;

}
.umi-border-2
{
    border: 4px  solid;

}
/* rounded-main */
.umi-rounded-0
{
    border-radius:0% ;
}
.umi-rounded-1
{
    border-radius:3px ;
}

.umi-rounded-3
{
    border-radius: 8px;
}
/* Padding-main  */

.p-0{
    padding: 0px;
}
.p-3{
    padding: 9px;
}
.p-4{
    padding: 12px;
}
.p-5
{
    padding: 28px;
}
.pl-2{
    padding-left:16px ;
}

/* Magin-main */

.m-0{
    margin: 0px;
}
.m-1{
    margin: 8px;
}
.m-2{
    margin: 16px;
}
.m-3{
    margin: 36px;
}
.m-4{
    margin: 64px;
}
.m-5{
    margin: 108px;
}
.mt-0{
    margin-top: 0px;
}
.mt-1{
    margin-top: 8px;
}
.mt-2{
    margin-top: 16px;
}
.mt-3{
    margin-top: 32px;
}
.mt-4{
    margin-top: 64px;
}
.mt-5{
    margin-top: 108px;
}
.mb-0{
    margin-bottom: 0px;
}
.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-3{
    margin-bottom: 32px;
}
.mb-4{
    margin-bottom: 64px;
}
.mb-5{
    margin-bottom: 108px;
}
.ml-0{
    margin-left: 0px;
}
.ml-1{
    margin-left: 8px;
}
.ml-2{
    margin-left: 16px;
}
.ml-3{
    margin-left: 32px;
}
.ml-4{
    margin-left: 64px;
}
.ml-5{
    margin-left: 108px;
}
.mr-0{
    margin-right: 0px;
}
.mr-1{
    margin-right: 8px;
}
.mr-2{
    margin-right: 16px;
}
.mr-3{
    margin-right: 32px;
}
.mr-4{
    margin-right: 64px;
}
.mr-5{
    margin-right: 108px;
}




/* Form-main */
.umi-form-control
{
    max-width: 100%;
}
.umi-form-tx
{
    width: 100%;
    height: 42px;
    border-radius: 8px;
    font-size: 16px;
}
.umi-form-tx-outness-haiiro
{
    width: 100%;
    height: 42px;
    border-radius: 3px;
    border: rgb(145, 145, 145) solid 1px;
    background:none !important;
    font-size: 16px;
    color: white;
}
.umi-form-tx-outness-haiiro:hover
{
    color: white;
    border: rgb(255, 255, 255) solid 1px;
    background:none !important;
}
.umi-form-tx-outness-haiiro:focus
{
    background: none;
    outline: #4974ca solid 3px; 
    border: none;
}
/* InputWebkit-main */
/* Special */
input:-webkit-autofill {
    -webkit-text-fill-color:#ffffff;
    box-shadow : 0 0 0px 1000px #1c2940 inset ; 
}

.umi-form-selector
{
    width: 100%;
    height: 42px;
}


/* Width-main */
.w-25
{
    width: 25%;
}
.w-50
{
    width: 50%;
}
.w-75
{
    width: 75%;
}
.w-100
{
    width: 100%;
}
/* Alert-main */
.umi-alert-momo
{
    width: 100%;
    background-color: pink;
    border-radius: 3px;
    padding: 8px;
}


/* Media query  */

/* ?_query  */

@media(max-width:786)
{
  .umi-container
  {
    padding: 0%;
  }
}